body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 17px;
}

#top-banner {
    width: 100%;
    height: 100px;
    background: #F2FCEE;
    background: linear-gradient(180deg, rgba(242,252,238,1) 0%, rgba(255,255,255,1) 100%);
    margin-bottom: 20px;
    padding: 10px;
    color: #59B833;
}

.search-actions {
    margin-right: 10px;
    cursor: pointer;
}

#page-display {
    margin-top: 7px;
    width: 80px;
    text-align: center;
}

#app {
    margin-bottom: 30px;
}

.fieldWrapper input {
    width: 100%;
}

.fieldWrapper textarea {
    width: 100%;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}

.field-error-msg {
    color: red;
}

.readonly {
    readonly: true;
}

a {
    color: #348613;
    text-decoration: none;
}

a:hover {
    color: #59B833;
    text-decoration: none;
}

ul.nav {
    font-weight: bold;
}

.card-header {
    background-color: #C7ECB8;
}

.card-body {
    background-color: #F2FCEE;
}

.vert-gaps {
    margin-top: var(--top);
    margin-bottom: var(--bottom);
}

.grid-x-max {
    display: grid;
    gap: var(--gap-size);
    grid-template-columns: var(--left-column-width) 1fr;
}

.grid-x-max .full-width {
    width: 100%;
}

.fixed {
    font-family: 'Courier New', Courier, monospace;
}

.right-align {
    text-align: right;
}

.inset {
    margin: 5px;
    border: 1px solid var(--border-color);
    padding: 5px;
}

a.pill {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--color);
    padding: 3px;
}
